body {
  background-image: url('assets/stars.gif');
  background-repeat: repeat;
  margin: 0;
  cursor: url('assets/cursor.cur') auto;
}
.container {
  margin: auto;
  max-width: 800px;
  padding: 30px 0px;
  font-size: 150%;
}
h1 {
  color: magenta;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
  color: white;
  text-align: center;
}
.centered-block {
  display: block;
  margin: auto;
}
.top {
  text-align: center;
  color: white;
}
hr {
  margin: 50px 0px;
}
.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  flex: 1;
  margin: 0px 20px;
  color: lime;
}
.fire {
  width: 100px;
}
.cat {
  width: 200px;
  margin-right: 30px;
}
.cat-container {
  color: orange;
  display: flex;
}
.vertical-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#hit-counter {
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: red;
  text-align: center;
}
#hit-counter-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.numeral {
  height: 50px;
}
.bottom {
  text-align: center;
  margin: auto;
}
.webring {
  background: white;
  margin: 30px auto;
}
.webring td {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
}
.netscape {
  color: white;
  margin: auto;
  font-size: 14px;
}
.star-trail {
  position: absolute;
  height: 15px;
  width: 15px;
  animation: fade linear 1000ms;
}
@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

img {
  animation: spin linear 300ms infinite;
  animation-play-state: paused;
}
img.speed-1 {
  animation-duration: 2000ms;
  animation-play-state: running;
}
img.speed-2 {
  animation-duration: 1000ms;
  animation-play-state: running;
}
img.speed-3 {
  animation-duration: 300ms;
  animation-play-state: running;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blink {
  animation: blink step-end 2000ms infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
